body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(./background.jpg);
    background-size: 100%;
    background-attachment: fixed;
}

.a00{
    width: 90%;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
}

.a01-main, .a02{
    width: 100%;
    text-align: center;
    border: 1px solid white;
    background: #e4b856;
    position: relative;
    font-size: 12px;
    border-radius: 10px;
    margin: 2px;
    opacity: 90%;
    z-index: 1;
}

.a01-main h1 a{
    text-decoration: none;
}

.a01-main:hover, .a02:hover{
    background: white;
    font-weight: bold;
}
.a01-content{
    width: 100%;
    display: none;
    position: absolute;
}
.a01-main:hover .a01-content{
    display: block;
}

.a00-top{
    width: 90%;
    display: flex;
}

.tankb-img{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin: 5px 0px 5px 0px;
}

.a00-input{
    display: flex;
    width: 60%;
    height: 50px;
    background: white;
    margin-top: 20px;
    margin-left: 60px;
    border-radius: 20px;
}

.cart-img{
    width: 50px;
    height: 50px;
}

.cart-button{
    background: white;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 5px 0px 5px 120px;
}

.cart-button:hover, .search-button:hover{
    background: #92d4fb;
}

.a00-input input{
    width: 80%;
    font-size: 20px;
    border: none;
    outline: none;
    margin-left: 30px;
}

.search-img{
    width: 25px;
    height: 25px;
}

.search-button{
    background: whitesmoke;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 2.5px 0px 0px 85px;
}

.title-top{
    margin: 27px 0px 5px 10px;
    width: 18%;
    color: white;
}

.a03{
    width: 90%;
    background: #e4b856;
    margin-top: 10px;
    border-radius: 15px;
    opacity: 90%;
}

.a04{
    width: 90%;
    background: #e4b856;
    opacity: 90%;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
}

.title-mid{
    width: 97%;
    height: 45px;
    border: none;
    border-bottom: 2px solid black;
    margin: 0px 0px 0px 20px;
}

.theCart-main{
    width: 100%;
    display: flex;
    margin: 10px 0px;
}

.theCart-item{
    width: 100%;
    padding: 5px;
    text-align: center;
    border: 2px solid black;
}

.theCart-item h1{
    font-size: 25px;
}

.productIMG{
    width: 150px;
    border: 1px solid black;
}

.deleteButton{
    width: 40px;
    border: none;
}

.purchase{
    font-size: 22px;
    font-weight: bold;
    padding: 10px 20px;
    float: right;
    border-radius: 10px;
    background: #ff2f2f;
    margin: 10px 20px 10px 0px;
}

.purchase:hover{
    background: white;
}

.checkbtn{
    margin-top: 25px;
    display: none;
    font-size: 40px;
    color: black;
    cursor: pointer;
    padding: 10px;
    line-height: 50px;
}
#active{
    float: right;
}
#check{
    display: none;
}
#navbar{
    display: none;
}
.navbar-button{
    cursor: pointer;
}
@media (max-width: 952px){
    #navbar:checked ~ .a01-content{
        display: block;
        position: relative;
    }
    .a03-row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .a03-item{
        width: 95%;
    }
    .a03{
        position: absolute;
        top: 100px;
    }
    .title-top{
        font-size: 18px;
        width: 30%;
    }
    .checkbtn{
        display: block;
    }
    .a00{
        flex-direction: column;
    }
    .a01-main{
        left: -150%;
        transition: all 0.5s;
    }
    #check:checked ~ .a01-main{
        left: 0;
    }
    .a01-content{
        transition: all 0.5s;
    }
    .a04{
        display: none;
    }
}